<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Daniil Koval">
    <!--    <meta name="description" content="Alal">-->
    <!--    <meta name="keywords" content="Alal">-->

    <link rel="stylesheet" href="main.css">
    <title>Главная</title>
</head>

<body>
<div id="top"></div>
<header>
    <div class="header-flex">
        <a href="">
            <div class="logo-block">
                <img src="img/pushka.png" alt="Pushka Coding" class="transform-scale" id="header-logo-img">
                <span class="font-gray" id="header-logo-text">Pushka Coding</span>
            </div>
        </a>
    </div>
</header>

<main>
    <section class="flex--row" id="about-me-section">
        <div id="text-about-me">
            <p>Привет! Меня зовут Даниил, мне 26 лет.</p>

            <p>
                1 мая 2025 года я оставил работу в продажах, чтобы изучать программирование и сменить направление
                деятельности.
            </p>

            <p>
                Я изучаю Java — один из ключевых языков для серверной части веб-приложений. Моё направление — бэкенд в
                веб-разработке:
                архитектура, логика, работа с базами данных и API.
            </p>

            <p>
                Этот сайт — мой рабочий конспект и тренировочный проект. Здесь я систематизирую всё, что изучаю, чтобы
                двигаться вперёд осознанно и с интересом.
            </p>

            <p>
                В будущем я хочу превратить его в образовательный портал с открытым доступом ко всей информации —
                бесплатно, для всех и навсегда. А пока — это просто мои заметки.
            </p>
        </div>

        <div id="laptop">
            <img src="/img/laptop.png" alt="PushkaCoding">
        </div>
    </section>

    <section class="flex--col" id="notes">
        <h3>Конспекты</h3>
        <div class="notes-grid">
            <a href="into-it.html">
                <div class="card-up note-card">
                    <div class="img-wrapper">
                        <img src="/img/basic.png" alt="За ручку в IT">
                    </div>
                    <p>За ручку в IT</p>
                </div>
            </a>

            <a href="java.html">
                <div class="card-up note-card">
                    <div class="img-wrapper">
                        <img src="/img/java.png" alt="Java">
                    </div>
                    <p>Java</p>
                </div>
            </a>

            <a href="library.html">
                <div class="card-up note-card">
                    <div class="img-wrapper">
                        <img src="img/library.png" alt="Библиотека">
                    </div>
                    <p>Библиотека</p>
                </div>
            </a>
        </div>
    </section>
</main>

<footer id="footer-section">
    <div>
        <h6 class="footer-title">Разделы</h6>
        <ul>
            <li><a href="#top" class="footer-text-link">Главная</a></li>
            <li><a href="/versionHistory" class="footer-text-link">История версий</a></li>
            <li><a href="/plans" class="footer-text-link">План обновлений</a></li>
        </ul>
    </div>

    <div>
        <h6 class="footer-title">Конспекты</h6>
        <ul>
            <li><a href="/library" class="footer-text-link">Библиотека</a></li>
            <li><a href="/java" class="footer-text-link">Java</a></li>
            <li><a href="/linux" class="footer-text-link">Linux</a></li>
            <li><a href="/into-it" class="footer-text-link">За ручку в IT</a></li>
        </ul>
    </div>

    <div id="information">
        <h6 class="footer-title">Информация</h6>
        <ul>
            <li><a href="/about" class="footer-text-link">О проекте</a></li>
        </ul>

        <ul>
            <li><a href="/contacts" class="footer-text-link">Контакты</a></li>
        </ul>

        <ul>
            <li><a href="projectSupport" class="footer-text-link">Поддержать проект</a></li>
        </ul>
    </div>
</footer>
</body>
</html>