<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Daniil Koval">
    <!--    <meta name="description" content="Alal">-->
    <!--    <meta name="keywords" content="Alal">-->

    <link rel="stylesheet" href="main.css">
    <title>Главная</title>
</head>

<body>
<div id="top"></div>
<header>
    <div class="header-flex">
        <a href="">
            <div class="logo-block">
                <img src="img/pushka.png" alt="Pushka Coding" class="transform-scale" id="header-logo-img">
                <span class="font-gray" id="header-logo-text">Pushka Coding</span>
            </div>
        </a>
    </div>
</header>

<main>
    <section class="flex--row" id="about-me-section">
        <div id="text-about-me">
            <p>Привет! Меня зовут Даниил, мне 26 лет.</p>

            <p>
                1 мая 2025 года я оставил работу в продажах, чтобы изучать программирование и сменить направление
                деятельности.
                Я принял твёрдое решение идти в веб-разработку на Java.
            </p>

            <p>
                Это мой личный учебный проект. Я изучаю программирование и веду здесь свои конспекты, чтобы лучше
                понимать материал и делиться процессом. Здесь могут быть ошибки — не воспринимайте всё как истину. Если
                вы учитесь — добро пожаловать. Если вы эксперт — поправьте меня.
            </p>

            <br> <!-- Костыли - наше всё -->
            <h5>🧠 Цель проекта — создать полноценное веб-приложение, на котором я:</h5>

            <p>📚 Соберу и структурирую изученную мной информацию в понятной, доступной форме</p>
            <p>🧩 Реализую на практике бэкенд и фронтенд части сайта</p>
            <p>☕ Освою основы <strong>Java Core</strong></p>
            <p>🌱 Изучу фреймворки: <strong>Spring, Spring Boot</strong> и другие</p>
            <p>🔐 Разберусь с вопросами <strong>безопасности</strong>: авторизация, защита данных</p>
            <p>⚙️ Научусь работать с <strong>Gradle</strong> для сборки проекта</p>
            <p>🔧 Освою <strong>Git</strong> и управление версиями</p>
            <p>🐧 Научусь работать в <strong>Linux</strong>: терминал, конфигурации, администрирование</p>
            <p>🖥️ Подниму собственный <strong>сервер</strong>, настрою окружение и выполню <strong>деплой</strong></p>
            <!-- Костыли - наше всё -->

            <br> <!-- Костыли - наше всё -->
            <p>
            Этот проект — не просто учеба, а платформа моего роста как разработчика. Всё, что я изучаю, я стараюсь
            сразу применять на практике и документировать.
            </p>

            <p>
                Давайте учиться вместе!
            </p>
        </div>

        <div id="laptop">
            <img src="/img/laptop.png" alt="PushkaCoding">
        </div>
    </section>

    <section class="flex--col" id="notes">
        <h3>Конспекты</h3>
        <div class="notes-grid">
            <a href="into-it">
                <div class="card-up note-card">
                    <div class="img-wrapper">
                        <img src="/img/basic.png" alt="За ручку в IT">
                    </div>
                    <p>За ручку в IT</p>
                </div>
            </a>

            <a href="java">
                <div class="card-up note-card">
                    <div class="img-wrapper">
                        <img src="/img/java.png" alt="Java">
                    </div>
                    <p>Java</p>
                </div>
            </a>

            <a href="library">
                <div class="card-up note-card">
                    <div class="img-wrapper">
                        <img src="/img/library.png" alt="Библиотека">
                    </div>
                    <p>Библиотека</p>
                </div>
            </a>
        </div>
    </section>
</main>

<footer id="footer-section">
    <div>
        <h6 class="footer-title">Разделы</h6>
        <ul>
            <li><a href="#top" class="footer-text-link">Главная</a></li>
            <li><a href="/versionHistory" class="footer-text-link">История версий</a></li>
            <li><a href="/plans" class="footer-text-link">План обновлений</a></li>
        </ul>
    </div>

    <div>
        <h6 class="footer-title">Конспекты</h6>
        <ul>
            <li><a href="/library" class="footer-text-link">Библиотека</a></li>
            <li><a href="/java" class="footer-text-link">Java</a></li>
            <li><a href="/linux" class="footer-text-link">Linux</a></li>
            <li><a href="/into-it" class="footer-text-link">За ручку в IT</a></li>
        </ul>
    </div>

    <div id="information">
        <h6 class="footer-title">Информация</h6>
        <ul>
            <li><a href="/about" class="footer-text-link">О проекте</a></li>
        </ul>

        <ul>
            <li><a href="/contacts" class="footer-text-link">Контакты</a></li>
        </ul>
        <ul>
            <li><a href="/projectSupport" class="footer-text-link">Поддержать проект</a></li>
        </ul>
    </div>
</footer>
</body>
</html>