<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Daniil Koval">
    <!--    <meta name="description" content="Alal">-->
    <!--    <meta name="keywords" content="Alal">-->

    <link rel="stylesheet" href="main.css">
    <title>За ручку в IT</title>
</head>

<body>
<header>
    <div class="header-flex">
        <a href="/index">
            <div class="logo-block">
                <img src="img/pushka.png" alt="Pushka Coding" class="transform-scale" id="header-logo-img">
                <span class="font-gray" id="header-logo-text">Pushka Coding</span>
            </div>
        </a>
    </div>
</header>

<main>
    <h1>В разработке...</h1>
    <p>Тут будут последовательно собраны ссылки на конспекты библиотеки</p>
    <section id="dev-version">

    </section>

    <a href="#top" class="flex--row" id="up">
        <p class="link_3">Наверх</p>
    </a>
</main>

<footer id="footer-section">
    <div>
        <h6 class="footer-title">Разделы</h6>
        <ul>
            <li><a href="/index" class="footer-text-link">Главная</a></li>
            <li><a href="/versionHistory" class="footer-text-link">История версий</a></li>
            <li><a href="/plans" class="footer-text-link">План обновлений</a></li>
        </ul>
    </div>

    <div>
        <h6 class="footer-title">Конспекты</h6>
        <ul>
            <li><a href="/library" class="footer-text-link">Библиотека</a></li>
            <li><a href="/java" class="footer-text-link">Java</a></li>
            <li><a href="/linux" class="footer-text-link">Linux</a></li>
            <li><a href="/into-it" class="footer-text-link">За ручку в IT</a></li>
        </ul>
    </div>

    <div id="information">
        <h6 class="footer-title">Информация</h6>
        <ul>
            <li><a href="/about" class="footer-text-link">О проекте</a></li>
        </ul>

        <ul>
            <li><a href="/contacts" class="footer-text-link">Контакты</a></li>
        </ul>

        <ul>
            <li><a href="projectSupport" class="footer-text-link">Поддержать проект</a></li>
        </ul>
    </div>
</footer>
</body>
</html>