<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Daniil Koval">
    <!--    <meta name="description" content="Alal">-->
    <!--    <meta name="keywords" content="Alal">-->

    <link rel="stylesheet" href="main.css">
    <title>Библиотека</title>
</head>

<body>
<div id="top"></div>
<header>
    <div class="header-flex">
        <a href="/index">
            <div class="logo-block">
                <img src="img/pushka.png" alt="Pushka Coding" class="transform-scale" id="header-logo-img">
                <span class="font-gray" id="header-logo-text">Pushka Coding</span>
            </div>
        </a>
    </div>
</header>

<main class="flex--col">
    <h1>Разделы</h1>

    <section>
        <details>
            <summary>
                <span>Какая история стоит за программированием?</span>
                <a href="#">🔗</a>
            </summary>
            <details class="inner-details">
                <summary>
                    <span>От Аристотеля до Тьюринга</span>
                    <a href="#">🔗</a>
                </summary>
                <ul>
                    <li>Аристотель</li>
                    <li>Лейбниц</li>
                    <li>Буль</li>
                    <li>Тьюринг</li>
                </ul>
            </details>

            <details class="inner-details">
                <summary>
                    <span>Первые компьютеры</span>
                    <a href="#">🔗</a>
                </summary>
                <ul>
                    <li>Вычислительные машины</li>
                    <li>Как поместить информацию в компьютер?</li>
                    <li>Немного математики и системы счисления</li>
                    <li>Первые компьютеры</li>
                </ul>
            </details>

            <details class="inner-details">
                <summary>
                    <span>Языки программирования</span>
                    <a href="#">🔗</a>
                </summary>
                <ul>
                    <li>Какое программирование вообще бывает?</li>
                    <li>Первые языки</li>
                    <li>Два лагеря: Frontend & Backend</li>
                    <li>Направления в программировании</li>
                    <li>Краткий обзор языков</li>
                </ul>
            </details>

            <details class="inner-details">
                <summary>Операционные системы</summary>
                <ul>
                    <li>Unix</li>
                    <li>Linux</li>
                    <li>Windows, Apple, Android</li>
                </ul>
            </details>

            <hr>
        </details>

        <details>
            <summary>Что у компьютера под капотом?</summary>
            <ul>
                <li>Устройство компьютера</li>
                <li>SR & DFF</li>
                <li>RAM & ROM</li>
                <li>CPU & GPU</li>
                <li>HDD & SSD</li>
                <li>USD и прочие</li>
                <li>Драйверы</li>
                <li>Монитор</li>
                <li>Прочие модули</li>
                <li>BIOS</li>
            </ul>
        </details>

        <details>
            <summary>Приближение к программированию</summary>
            <ul>
                <li>Кодировки</li>
                <li>OS</li>
                <li>Расширения</li>
                <li>.exe</li>
                <li>Программы</li>
                <li>Программирование</li>
            </ul>
        </details>

        <details>
            <summary>Как устроен интернет?</summary>
            <ul>
                <li>При чём тут холодная война и полёт в космос?</li>
            </ul>
        </details>

        <details>
            <summary>База</summary>
            <ul>
                <li>Языки</li>
                <li>Alal</li>
                <li>Alal</li>
                <li>Alal</li>
                <li>Базовые типы данных</li>
            </ul>
        </details>

        <details>
            <summary>ООП</summary>
            <ul>
                <li>OOP</li>
                <li>Constructor</li>
                <li>Encapsulation</li>
                <li>Static</li>
                <li>Модификаторы доступа и принадлежности</li>
                <li>Getters & Setters</li>
                <li>Inheritance</li>
                <li>Polymorphism</li>
                <li>Abstract Class</li>
                <li>Interfaces</li>
                <li>Static Fields</li>
                <li>Inner Class</li>
                <li>Static Class</li>
                <li>Object Types & Val Types</li>
                <li>Vals & Refs passing</li>
            </ul>
        </details>

        <details>
            <summary>Как управлять версиями программы и контролировать разработку?</summary>
            <ul>
                <li>Git</li>
                <li>GitHub</li>
            </ul>
        </details>

        <details>
            <summary>Java Core</summary>
            <ul>
                <li>Blocks</li>
                <li>Annotation</li>
                <li>Exception Handling</li>
                <li>Generics</li>
                <li>Type casting</li>
                <li>String Types</li>
                <li>Wrapper Classes</li>
                <li>Assert</li>
                <li>Default Methods in interfaces</li>
                <li>Anonynous Class</li>
                <li>Functional Interface</li>
                <li>Lambda Expressions</li>
                <li>Stream API</li>
                <li>File</li>
                <li>Object to String</li>
                <li>Clone</li>
                <li>Equals & HashCode</li>
                <li>Callback function</li>
            </ul>
        </details>

        <details>
            <summary>Collections</summary>
            <ul>
                <li>Input/Output Stream</li>
                <li>File Stream</li>
                <li>Data Stream</li>
                <li>Buffered Stream</li>
                <li>SpringReader, StringWriter</li>
                <li>Sequence InputStream</li>
                <li>Piped Stream</li>
                <li>PushbackInput Stream</li>
                <li>OutputStream Writer</li>
                <li>Object Stream</li>
                <li>Filter Stream</li>
            </ul>
        </details>

        <details>
            <summary>Потоки ввода/вывода</summary>
            <ul>
                <li>Input/Output Stream</li>
                <li>FileStream</li>
                <li>DataStream</li>
                <li>BufferStream</li>
                <li>StringReader & StringWriter</li>
                <li>Sequence InputStream</li>
                <li>Piped Stream</li>
                <li>PushbackInput Stream</li>
                <li>OutputStream Writer</li>
                <li>Object Stream</li>
                <li>FilterStream</li>
            </ul>
        </details>

        <details>
            <summary>Многопоточность</summary>
            <ul>
                <li>Multi threading</li>
                <li>Runnable</li>
                <li>Volatile</li>
                <li>Join</li>
                <li>Synchronized</li>
                <li>Synchronized Static</li>
                <li>Wait/Notify</li>
                <li>Yield</li>
                <li>Semaphore</li>
                <li>Reentrant Lock</li>
                <li>CountDown Latch</li>
                <li>CyclicBarrier</li>
                <li>Interrupt</li>
                <li>Callable</li>
                <li>Executor service</li>
                <li>ReadWrite Lock</li>
                <li>ThreadLocal</li>
                <li>Fork/Join</li>
            </ul>
        </details>

        <details>
            <summary>Сериализация</summary>
            <ul>
                <li>Serialication</li>
                <li>Transient</li>
                <li>SerialVersionUID</li>
                <li>Singleton Serialication</li>
                <li>Externalizable</li>
            </ul>
        </details>

        <details>
            <summary>Базы данных</summary>
            <ul>
                <li>Databases</li>
                <li>One-To-Many</li>
                <li>Many-To-Many</li>
                <li>One-to-One</li>
            </ul>
        </details>

        <details>
            <summary>SQL</summary>
            <ul>
                <li>SQL, MySQL</li>
                <li>DDL in SQL</li>
                <li>DML in SQL</li>
                <li>Aggregate Functions</li>
                <li>Group By. Having</li>
                <li>Subqueries</li>
                <li>Join</li>
            </ul>
        </details>

        <details>
            <summary>JDBC</summary>
            <ul>
                <li>JDBC Basics</li>
                <li>Transactions</li>
                <li>Savepoint</li>
                <li>Transaction Isolation</li>
                <li>Non-repeatable read</li>
                <li>Phantom Read</li>
                <li>PreparedState ment</li>
                <li>Stored Procedures</li>
            </ul>
        </details>

        <details>
            <summary>HTML</summary>
            <ul>
                <li>HTML</li>
                <li>Crucial HTML Tags</li>
                <li>Attributes</li>
                <li>CSS Classes</li>
                <li>Div Block</li>
                <li>Structure Tags</li>
                <li>CSS Selectors</li>
            </ul>
        </details>

        <details>
            <summary>Тестирование</summary>
            <ul>
                <li>JUnit</li>
                <li>JUnit Annotations</li>
                <li>Mockito</li>
            </ul>
        </details>

        <details>
            <summary>Логирование</summary>
            <ul>
                <li>Logging</li>
                <li>Setting up log4j</li>
            </ul>
        </details>

        <details>
            <summary>Servlets</summary>
            <ul>
                <li>Java EE</li>
                <li>First Servlet</li>
                <li>Servlet Methods</li>
                <li>@WebServlet</li>
                <li>Parameters in GET request</li>
                <li>Redirect Methods</li>
                <li>Cookies</li>
                <li>Session</li>
                <li>Servlet Context</li>
                <li>Servlet Config</li>
                <li>EncodeURL</li>
                <li>Servlet Sync</li>
                <li>Filter</li>
                <li>Listeners</li>
                <li>Async Context</li>
            </ul>
        </details>

        <details>
            <summary>JSP</summary>
            <ul>
                <li>Java Server Pages (JSP)</li>
                <li>Comments</li>
                <li>Implicit Objects</li>
                <li>ActionBeans</li>
                <li>MVC Pattern</li>
                <li>Expression Language</li>
                <li>JSTL</li>
            </ul>
        </details>

        <details>
            <summary>Шаблоны проектирования</summary>
            <ul>
                <li>Design Patterns</li>
                <li>Singleton</li>
                <li>Data Access Object</li>
                <li>Front Controller</li>
                <li>Template</li>
            </ul>
        </details>

        <details>
            <summary>Spring Framework</summary>
            <ul>
                <li>Spring Framework</li>
                <li>DI Using Setter</li>
                <li>Injecting File Fields</li>
                <li>Spring Scopes</li>
                <li>Spring Bean Lifecycle</li>
                <li>Annotation-driven Config</li>
                <li>@Autowired</li>
                <li>Class-driven Config</li>
            </ul>
        </details>

        <details>
            <summary>Spring MVC</summary>
            <ul>
                <li>Eclipse IDE Web App</li>
                <li>Spring MVC</li>
                <li>Request Mapping</li>
                <li>Form Data</li>
                <li>Spring Form Tag</li>
                <li>Spring Form Tags</li>
                <li>Form Validation</li>
            </ul>
        </details>

        <details>
            <summary>Hibernate</summary>
            <ul>
                <li>Hibernate</li>
                <li>HQL Lang</li>
                <li>HQL Update</li>
                <li>HQL Delete</li>
                <li>Hibernate Relationships</li>
                <li>Bidirectional Relation</li>
                <li>One-to-Many</li>
                <li>Fetch Types</li>
                <li>Many-to-Many</li>
            </ul>
        </details>

        <details>
            <summary>Системы сборки</summary>
            <ul>
                <li>Что это такое?</li>
                <li>Maven & Gradle</li>
                <li>Maven</li>
                <li>Maven Web App</li>
                <li>Pom.xml Setting up</li>
            </ul>
        </details>

        <details>
            <summary>Spring MVC CRUD</summary>
            <ul>
                <li>Hibernate CRUD App</li>
                <li>Hibernate CRUD App 2</li>
            </ul>
        </details>

        <details>
            <summary>Spring REST</summary>
            <ul>
                <li>REST API</li>
                <li>Spring REST API App</li>
                <li>REST API CRUD App</li>
            </ul>
        </details>

        <details>
            <summary>Spring Boot</summary>
            <ul>
                <li>Spring Boot</li>
                <li>Spring Boot CRUD</li>
                <li>Spring Boot Data</li>
                <li>Spring Boot Data Rest</li>
            </ul>
        </details>

        <details>
            <summary>Docker</summary>
            <ul>
                <li>Docker</li>
                <li>Docker Hub</li>
                <li>Dockerizing</li>
            </ul>
        </details>
    </section>

    <a href="#top" class="flex--row" id="up">
        <p class="link_3">Наверх</p>
    </a>
</main>

<footer id="footer-section">
    <div>
        <h6 class="footer-title">Разделы</h6>
        <ul>
            <li><a href="/index" class="footer-text-link">Главная</a></li>
            <li><a href="/versionHistory" class="footer-text-link">История версий</a></li>
            <li><a href="/plans" class="footer-text-link">План обновлений</a></li>
        </ul>
    </div>

    <div>
        <h6 class="footer-title">Конспекты</h6>
        <ul>
            <li><a href="/library" class="footer-text-link">Библиотека</a></li>
            <li><a href="/java" class="footer-text-link">Java</a></li>
            <li><a href="/linux" class="footer-text-link">Linux</a></li>
            <li><a href="/into-it" class="footer-text-link">За ручку в IT</a></li>
        </ul>
    </div>

    <div id="information">
        <h6 class="footer-title">Информация</h6>
        <ul>
            <li><a href="/about" class="footer-text-link">О проекте</a></li>
        </ul>

        <ul>
            <li><a href="/contacts" class="footer-text-link">Контакты</a></li>
        </ul>

        <ul>
            <li><a href="/projectSupport" class="footer-text-link">Поддержать проект</a></li>
        </ul>
    </div>
</footer>
</body>
</html>