@font-face {
    font-family: 'EB Garamond';
    src: url('../../fonts/EB_Garamond/EB_Garamond/EBGaramond-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../../fonts/EB_Garamond/EB_Garamond/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
    font-weight: 400 800;
    font-display: swap;
}

@font-face {
    font-family: 'Alan Sans';
    src: url('../../fonts/EB_Garamond/Alan_Sans/AlanSans-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
}


/* ==== Common ====*/
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'EB Garamond', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}

h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}

/*.short-p {*/
/*    line-height: 1.6;*/
/*    margin: 0 0 0 15px;*/
/*}*/

a {
    text-decoration: none;
}

li {
    margin-top: 10px;
}

li ul {
    margin-left: 20px;
}

li ul li::marker {
    font-size: 0.6em; /* уменьшает размер маркера */
    color: gray; /* делает точку менее яркой */
}


/* ==== United ====*/
header,
footer {
    background-color: #343434;
    display: flex;
    align-items: center;
}


/* ==== Header ====*/
header {
    height: 80px;
    border-bottom: 1px solid darkgray;
}

.header-flex {
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center; /* по вертикали */
    width: 100%;
    height: 100%;
}

.header-flex a {
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center; /* по вертикали */
    gap: 10px;
}

.header-text-link {
    color: white;
}

.logo-block {
    display: flex;
    flex-direction: column;
    align-items: center; /* по вертикали */
    text-align: center;
}

#header-logo-text {
    color: lightgray;
}

#header-logo-img {
    height: 30px;
}

#header-logo-text,
#header-logo-img {
    transition: transform 0.3s ease;
}

#header-logo-img:hover {
    transform: scale(1.3);
}


/* ==== Main ====*/
main {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    box-sizing: border-box;
}

.section {
    display: flex;
    flex-wrap: wrap; /* если экран узкий — перенос строк */
    margin-top: 20px;
}

.section--column {
    flex-direction: column; /* вертикальное располжение элементов */
    align-items: flex-start; /* выравнивание по началу оси (по горизонтали) */
    margin-left: auto;
    margin-right: auto;
}

.link-block {
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center; /* по вертикали */

    height: 80px;
    width: 160px;

    background-color: #f5f5f5;
    border: 1px solid darkgray;
    border-radius: 15px;

    will-change: transform; /* Рассчитать анимацию заранее */
    transition: background-color 0.9s ease,
    transform 0.3s ease;
}

.link-block:hover {
    background-color: #e0e0e0;
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.main-text-link {
    color: #a47c2d;
    text-decoration: underline;
}

.link-block a {
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center; /* по вертикали */
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
}

#text-about-me {
    flex: 1;
    min-width: 250px;
}

#laptop-img img {
    max-width: 300px;
    height: auto;
    object-fit: contain; /* Вписать изображение в контейнер, сохранив пропорции, не обрезая */
}

#notes {
    flex-direction: column; /* вертикальное расположение */
    align-items: center; /* по центру горизонтали */
}

#notes-links {
    display: flex;
    gap: 20px; /* отступы между кнопками */
    flex-wrap: wrap;
    justify-content: center;
}

#notes-link-library {
    background-image: url("../../img/library.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#notes-link-java {
    background-image: url("../../img/java.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#notes-link-basic {
    background-image: url("../../img/basic.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/* ==== Footer ====*/
footer {
    justify-content: center; /* по горизонтали */
    align-items: flex-start; /* Прижимает к верхнему краю */
    gap: 80px;
    padding: 20px; /* сверху и по бокам */
    flex-wrap: wrap; /* если экран узкий — перенос строк */
    color: lightgray;
    font-size: 14px;
    border-top: 1px solid darkgray;
}

footer > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* выравнивание по левому краю */
    text-align: left;
}

footer ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.footer-title {
    color: white;
    font-weight: bold;
}

.footer-text-link {
    color: lightgray;
    transition: color 0.6s ease;
}

.footer-text-link:hover {
    color: white;
}


/* ==== Вспомогательная шляпа ==== */
hr {
    height: 1px;
    background-color: darkgray;
    margin: 20px 0;
    width: 100%;
}