/* ==== RESET ==== */
* {
    margin: 0;
    padding: 0;
}


/* ==== FONTS ==== */
@font-face {
    font-family: 'EB Garamond';
    src: url('../../fonts/EB_Garamond/EB_Garamond/EBGaramond-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../../fonts/EB_Garamond/EB_Garamond/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
    font-weight: 400 800;
    font-display: swap;
}

@font-face {
    font-family: 'Alan Sans';
    src: url('../../fonts/EB_Garamond/Alan_Sans/AlanSans-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
}


/* ==== BASE ==== */
html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'EB Garamond', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 800; /* extra bold */
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: 700; /* bold */
    margin-bottom: 16px;
}

h3 {
    font-size: 16px;
    font-weight: 600; /* semi bold */
    margin-bottom: 12px;
}

h4 {
    font-size: 14px;
    font-weight: 600; /* semi bold */
    margin-bottom: 12px;
}

p {
    line-height: 1.4;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    margin-top: 10px;
}

li ul {
    margin-left: 20px;
}

li ul li::marker {
    font-size: 0.6em; /* уменьшает размер маркера */
    color: gray; /* делает точку менее яркой */
}

hr {
    height: 1px;
    background-color: darkgray;
    margin: 20px 0;
    width: 100%;
} /* что это, блять??? */


/* ==== TEXT ==== */
.font-black {
    color: black;
}

.font-white {
    color: white;
}

.font-gray {
    color: lightgray;
}


/* ==== LINKS ==== */
.link_1 {
    color: lightgray;
}

.link_2 {
    font-size: 14px;
    color: lightgray;
}

.link_3 {
    font-size: 14px;
    font-weight: bold;
    color: #272727;
    margin: 0;
    transition: color 0.3s ease;
}

.link_3:hover {
    color: #000000;
}

.link_4 {
    color: #a47c2d;
    text-decoration: underline;
}


/* ==== COMMON ==== */
header,
footer {
    background-color: #343434;
    display: flex;
    align-items: center;
}


/* ==== COMPONENTS: HEADER ==== */
header {
    min-height: 80px;
    border-bottom: 1px solid darkgray;
}

.header-flex {
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center; /* по вертикали */

    width: 100%;
    height: 100%;
}

.header-flex a {
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center; /* по вертикали */
}

.logo-block {
    display: flex;
    flex-direction: column;
    align-items: center; /* по вертикали */
    text-align: center;
}

#header-logo-img {
    height: 30px;
}


/* ==== COMPONENTS: MAIN ==== */
main {
    flex: 1;
    display: flex;
    flex-direction: column;

    max-width: 1200px;
    width: 100%;

    margin: 10px auto;
    padding: 0 40px;

    box-sizing: border-box; /* Вписать paddings в родителя */
}

.flex--row {
    display: flex;
    flex-wrap: wrap; /* если экран узкий — перенос строк */
    margin-top: 20px;
}

.flex--col {
    display: flex;
    flex-direction: column; /* вертикальное располжение элементов */
    align-items: flex-start; /* прибить к левому краю */
    flex-wrap: wrap; /* если экран узкий — перенос строк */
    margin-top: 20px;
}

.text-link {
    color: #a47c2d;
    text-decoration: underline;
}


/* ==== COMPONENTS: FOOTER ==== */
footer {
    justify-content: center; /* по горизонтали */
    align-items: flex-start; /* Прижимает к верхнему краю */
    flex-wrap: wrap; /* если экран узкий — перенос строк */
    gap: 80px;

    padding: 20px; /* сверху и по бокам */

    color: lightgray;
    font-size: 14px;

    border-top: 1px solid darkgray;
}

footer > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* выравнивание по левому краю */
    text-align: left;
}

footer ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.footer-title {
    color: white;
    font-weight: bold;
}

.footer-text-link {
    color: lightgray;
    transition: color 0.6s ease;
}

.footer-text-link:hover {
    color: white;
}

#up {
    width: 100%;

    justify-content: center;
    align-items: center;

    margin-top: auto;

    border: 1px solid darkgray;
    border-radius: 3px;

    background-color: silver;
}

#up:hover {
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    border-radius: 4px;
    background-color: lightgray;
}


/* ==== UTILS ==== */
.transform-scale {
    transition: transform 0.3s ease;
}

.transform-scale:hover {
    transform: scale(1.3);
}

.card-up {
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card-up:hover {
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    transform: translateY(-4px); /* переместить блок вверх на 4px */
}


/* ~~~~~~ PAGE: index.html ~~~~~~ */
.note-card {
    background-color: white;
    border-radius: 12px;

    width: 150px;
    height: 150px;
    padding: 12px;

    display: flex;
    flex-direction: column; /* вертикально */
    justify-content: space-between; /* главная ось */
    align-items: center; /* поперечная ось */
}

.note-card p {
    text-align: center;

    font-weight: 600;
    font-size: 15px;

    margin: 0;
}

.notes-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;

    margin-top: 20px;
}

.img-wrapper {
    height: 100px;
    display: flex;
    justify-content: center; /* основная ось (горизонтальная) */
    align-items: center; /* поперечная ось (вертикальная) */
}

.img-wrapper img {
    max-height: 100%; /* ? */
    max-width: 100%; /* ? */
    object-fit: contain; /* как вписать изображение (целиком) */
}

#text-about-me {
    flex-grow: 1; /* расширяться, если надо */
    flex-shrink: 1; /* сжиматься, если надо */
    flex-basis: 0%; /* стартовая ширина */
    min-width: 250px;
}

#laptop img {
    max-width: 300px;
    height: auto;
    object-fit: contain; /* Вписать изображение в контейнер, сохранив пропорции, не обрезая */
}

#notes {
    flex-direction: column; /* вертикальное расположение */
    align-items: center; /* по центру горизонтали */
}

#notes-links {
    display: flex;
    gap: 20px; /* отступы между кнопками */
    flex-wrap: wrap;
    justify-content: center;
}





/* ~~~~~~ TEST ~~~~~~ */
details {
    margin-bottom: 16px;
}

.inner-details {
    padding: 0 0 0 50px;
}



