@font-face {
    font-family: 'EB Garamond';
    src: url('../../fonts/EB_Garamond/EB_Garamond/EBGaramond-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../../fonts/EB_Garamond/EB_Garamond/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
    font-weight: 400 800;
    font-display: swap;
}

@font-face {
    font-family: 'Alan Sans';
    src: url('../../fonts/EB_Garamond/Alan_Sans/AlanSans-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'EB Garamond', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}


header,
footer {
    background-color: #343434;
    display: flex;
    align-items: center;
}


header {
    height: 40px;
    border-bottom: 1px solid darkgray;
}

.header-flex {
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center; /* по вертикали */
    width: 100%;
    height: 100%;
}

.header-flex a {
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center; /* по вертикали */
    gap: 10px;
}

.header-text-link {
    color: white;
}

#header-logo-text {
    color: lightgray;
}

#header-logo-img {
    height: 30px;
}

#header-logo-text,
#header-logo-img {
    transition: transform 0.3s ease;
}

#header-logo-img:hover {
    transform: scale(1.1);
}


main {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

main .greeting {
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: flex-start; /* выравнивание по началу оси (по вертикали) */
    flex-wrap: wrap; /* если экран узкий — перенос строк */
    padding: 20px;
}

.main-text-link {
    color: #a47c2d;
    text-decoration: underline;
}

#about-me {
    flex: 1;
    min-width: 250px;
}

#laptop img {
    max-width: 300px;
    height: auto;
    object-fit: contain; /* Вписать изображение в контейнер, сохранив пропорции, не обрезая */
}

.link-block {
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center; /* по вертикали */

    height: 50px;
    width: 200px;
    margin: 30px auto; /* сверху и по центру */

    background-color: lightgray;

    border: 1px solid lightgray;
    border-radius: 5px;
}

.link-block a {
    color: black;
}


footer {
    justify-content: center; /* по горизонтали */
    align-items: flex-start; /* Прижимает к верхнему краю */
    gap: 80px;
    padding: 20px; /* сверху и по бокам */
    flex-wrap: wrap; /* если экран узкий — перенос строк */
    color: lightgray;
    font-size: 14px;
    border-top: 1px solid darkgray;
}

footer > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* выравнивание по левому краю */
    text-align: left;
}

footer ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

footer p {
    color: white;
    font-weight: bold;
}

.footer-text-link {
    color: lightgray;
    transition: color 0.6s ease;
}

.footer-text-link:hover {
    color: white;
}